---
layout: default
---

<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <title>{{ site.title }}</title>

   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

  <style>
    html {
      height: 100%;
    }

    body {
      height: 100%;
      text-align: center;
      margin: 0;
      color: white;
    }

    #mapid {
      height: 180%;
    }

    #fork {
      display: none;
    }

    @media only screen and (min-width: 1000px) {
      #fork {
        display: block;
        position: absolute;
        z-index: 99999999;
        top: 0;
        right: 0;
      }
    }
  </style>
</head>

<body>
  <a id="fork" href="{{ site.fork_url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ site.fork_img }}" alt=""></a>

  <div id="mapid"></div>

  <script>
    var mymap = L.map('mapid').setView([{{ site.lat }}, {{ site.lng }}], {{ site.zoom }});

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: '{{ site.access_token }}'
}).addTo(mymap);

    {% for x in site.data.locations %}
      L
        .marker([{{ x.lat }}, {{ x.lng }}])
        .addTo(mymap)
        .bindPopup("<b>{{ x.name }}</b><br>{{ x.description }}")
        ;
    {% endfor %}

    mymap.on('click', function (e) {
      var template = "- name: FIXME\n  description: FIXME\n  lat: " + e.latlng.lat + "\n  lng: " + e.latlng.lng + "\n";

      console.log(template);
    });
  </script>
</body>
</html>
